<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<a href="/add">Add a Person</a><br />
<table>
    <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Email</th>
    </tr>
    <tr th:each="people : ${people}">
        <td th:text="${people.name}"></td>
        <td th:text="${people.phoneNumber}"></td>
        <td th:text="${people.email}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${people.id})}">Update</a>
            <a th:href="@{/detail/{id}(id=${people.id})}">Details</a>
            <a th:href="@{/delete/{id}(id=${people.id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>